<p id="notice"><%= notice %></p>
<h2 class="todo_list_title"><%= @todo_list.title %></h2>
<p class="todo_list_sub_title"><%= @todo_list.description %></p>
<div id="todo_tasks_wrapper">
 <%= render @todo_list.todo_tasks %>
 <div id="form">
   
 </div>

 	<%= link_to 'New', new_todo_list_todo_task_path(@todo_list), :class => "btn" %>

</div>
<div class="links">
	<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
	<%= link_to 'Delete', todo_list_path(@todo_list), method: :delete, data: { confirm: "Are you sure?" } %> |
	<%= link_to 'Back', todo_lists_path %>
	
</div>

